#include("../layout/base.html")
#@base()
#define main()
<div class="row">
    <div id="vmaig-content" class="col-md-8 col-lg-9">
        <div id="tool" class="well clearfix">
            <div class="tags">
                <div class="tag-list" style="float:left">
                    <label class="active">
                        全部
                        <input type="radio" name="category" value="all" style="display:none"></input>
                    </label>
                    <label v-for="category in category_list">
                        {{category.name}}
                        <input type="radio" name="category" :value="category.name" style="display:none"></input>
                    </label>
                </div>
            </div>
        </div>

        <div class="well">
            <div class="sort">
                <label>
                    <input type="radio" name="sort" value="time" checked="checked"> 按时间排序
                </label>
                <label>
                    <input type="radio" name="sort" value="recommend"> 按热度排序
                </label>
                <label>
                    <input type="radio" name="sort" value="comment"> 按评论排序
                </label>
            </div>

            <div id="all-post-list">
                #include("include/all_post.html")

            </div>
            <div id="loading" style="height:100px;line-height:100px;text-align:center;display:none;">
                <img src="http://vmaig.qiniudn.com/loading.gif" alt="">
            </div>


        </div>
        <button id="all-post-more" type="button" class="btn btn-vmaig" value="all" style="width:100%">
            加载更多
            <span class="glyphicon glyphicon-menu-down"></span>
        </button>

    </div>

    <div id="vmaig-side" class="col-md-4 col-lg-3 hidden-xs">
        #include("widgets/tags_cloud.html")
        #include("widgets/search.html")
        #include("widgets/hotest_posts.html")
        #include("vmaig_comments/latest_comments.html")
    </div>
    <script type="text/javascript" src="/static/module/base/base.js"></script>
    //tags_cloud
    <script src="/static/lib/d3/d3.js"></script>
    <script src="/static/js/d3.layout.cloud.js"></script>
    <script src="/static/module/tagsCloud/tagsCloud.js"></script>

</div>
#end

#define css()
<style>
    #tags_cloud {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 4px;
        margin-bottom: 20px;
    }
</style>
#end

#define js()
<script language="javascript" type="text/javascript">

    var start = 0;
    // var end = parseInt({
    // {
    //     PAGE_NUM
    // }
    // })
    ;

    $.ajax({
        type: "post",
        url: "/all/doIndex",
        dataType: "Json",
        success: function (data, textStatus) {
            var categoryList = data["category_list"];
            var articleList = data["article_list"];
            if (categoryList.length === 0) {
                $("div .tag-list").children("label").first().nextAll().remove();
            } else {
                var vm_category = new Vue({
                    el: ".tag-list",
                    data: {
                        "category_list": categoryList
                    }
                });
            }

            if (articleList === 0) {
                $("#all-post-list").empty().html("<div class='home-post well clearfix'>\n<div class='post-title " +
                    "underline clearfix'><h1>There is no articles posted yet!!!!</h1></div></div>");
            } else {
                var vm_article = new Vue({
                    el: "#all-post-list",
                    data: {
                        "article_list": articleList
                    },
                    filters: {
                        trimText: function (text) {
                            if (text.length > 200) {
                                return text.substring(0, 200) + "...";
                            } else {
                                return text;
                            }
                        },
                        trimDate: function (date) {
                            // debugger
                            if (date.length > 10) {
                                return date.substring(0, 10);
                            } else {
                                return date;
                            }
                        }
                    }
                });
            }
        }
    });

    $("input[name='category']").click(function () {
        start = 0;
        //     end = parseInt({
        //     {
        //         PAGE_NUM
        //     }
        // })
        ;
        $("input[name='category']").parent().removeClass("active");
        $("#all-post-more")[0].style.display = "none";
        $("#loading")[0].style.display = "block";

        $("#all-post-list").empty();
        $(this).parent().addClass("active");
        $("#all-post-more").val($(this).val());
        $.ajax({
            type: "POST",
            url: "/all/",
            data: {
                "val": $(this).attr("value"),
                "sort": $("input[name='sort']:checked").val(),
                "start": start,
                "end": end
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("csrf-token", $.cookie('csrf-token'));
            },
            success: function (data, textStatus) {
                $("#loading")[0].style.display = "none";
                $('#all-post-list').append(data["html"]);
                if (data["isend"]) {
                    $("#all-post-more")[0].style.display = "none";
                } else {
                    $("#all-post-more")[0].style.display = "block";
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);

            }
        });
    });

    $("input[name='sort']").click(function () {
        start = 0;
        //     end = parseInt({
        //     {
        //         PAGE_NUM
        //     }
        // })
        ;
        $("#all-post-more")[0].style.display = "none";
        $("#loading")[0].style.display = "block";

        $("#all-post-list").empty();
        $.ajax({
            type: "POST",
            url: "/all/",
            data: {
                "val": $("label.active input").val(),
                "sort": $("input[name='sort']:checked").val(),
                "start": start,
                "end": end
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("csrf-token", $.cookie('csrf-token'));
            },
            success: function (data, textStatus) {
                $("#loading")[0].style.display = "none";
                $('#all-post-list').append(data["html"]);
                if (data["isend"]) {
                    $("#all-post-more")[0].style.display = "none";
                } else {
                    $("#all-post-more")[0].style.display = "block";
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });

    });


    $("#all-post-more").click(function () {
        start = end;
        end += 5;
        $("#loading")[0].style.display = "block";
        $.ajax({
            type: "POST",
            url: "/all/",
            data: {
                "val": $(this).attr("value"),
                "sort": $("input[name='sort']:checked").val(),
                "start": start,
                "end": end
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("csrf-token", $.cookie('csrf-token'));
            },
            success: function (data, textStatus) {
                $("#loading")[0].style.display = "none";
                $("#all-post-more")[0].style.display = "none";
                $('#all-post-list').append(data["html"]);

                if (data["isend"]) {
                    $("#all-post-more")[0].style.display = "none";
                } else {
                    $("#all-post-more")[0].style.display = "block";
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
    });

</script>
#end
