#include("../layout/base.html")
#@base()
#define main()
<div class="row">
    <div id="vmaig-content" class="col-md-8 col-lg-9">
        <div id="all-post-list" class="well">
            #if(null != #(article_list))
            #set(post_list = #(article_list))
            #for(post : #(post_list))
                #include("category_post.html")
            #end
            #end
        </div>
        
        <!--分页 -->
        #if(page_obj??)             //////////////////
            #include("pagination.html")
        #end
    </div>
    <div id="vmaig-side" class="col-md-4 col-lg-3 hidden-xs">
        #include("tags_cloud.html")
        #include("search.html")
        #include("hotest_posts.html")
        #include("latest_comments.html")
    </div>
</div>
#end
