<div id="anchor-quote"></div>
<div class="well">
    <div class="vmaig-comment">
        <div class="vmaig-comment-tx">
            #if("" != (user_img))
            <img src="#(user_img)" width="40"></img>
            #else
            <img src="http://vmaig.qiniudn.com/image/tx/tx-default.jpg" width="40"></img>
            #end
        </div>
        <div class="vmaig-comment-edit clearfix">
            <form id="vmaig-comment-form" method="post" role="form">
                {% csrf_token %}
                <textarea id="comment" name="comment" class="form-control" rows="4"
                          placeholder="请输入评论 限200字!"></textarea>
                <button type="submit" class="btn btn-vmaig-comments pull-right">提交</button>
            </form>
        </div>
        <ul id="xxx">
            {{commentList}}
            <li v-for="(comment, index) in commentList">
                <div class="vmaig-comment-tx">
                    <img v-if="comment.showImg" :src="comment.user_img" width="40"></img>
                    <img v-else src="http://vmaig.qiniudn.com/image/tx/tx-default.jpg" width="40"></img>
                </div>
                <div class="vmaig-comment-content">
                    <a><h1>{{comment.user_username}}</h1></a>
                    <div v-if="null != comment.parent" class="comment-quote">
                        <p>
                            <a>@{{comment.parentUser_username}}：</a>
                            {{comment.parent_text}}
                        </p>
                    </div>
                    <p></p>
                    <p>
                        评论：
                        {{comment.text}}
                    </p>
                    <p>{{comment.create_time}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a class='quote' href="#anchor-quote" @onclick="reply(comment)">回复</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
