<div id="notification" class="well clearfix">
    <h2 class="underline">消息</h2>
    <div class="list-group">
        #for(notification : (notification_list))
        <a href="#if('' != notification.url)(notification.url)#else#end"
           class="list-group-item"
           value="#(notification.id)"
           style="border-top-left-radius: 0px;border-top-right-radius: 0px;">
            #(notification.title)
            #if(1 == notification.is_read)
            <span class="label label-info pull-right">已读</span>
            #else
            <span class="label label-warning pull-right">未读</span>
            #end
        </a>
        #end
    </div>
</div>

<script language="javascript" type="text/javascript">

    $('#notification .list-group-item').click(function () {
        $.ajax({
            type: "POST",
            url: "/user/get_notification_content",
            data: {"notification_id": $(this).attr("value")},
            dataType: 'json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            },
            success: function (data, textStatus) {
                window.location.href = data['url'];
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }

        });
        return false;
    });

</script>
