<div id="homePost">
    <div v-for="(post, index) in article_list" class="home-post well clearfix">
        <div class="post-title underline clearfix">
            <a :href="'/category/' + post.category">
                <div class="pre-cat">
                    <div class="pre-catinner btn">
                        {{post.category}}
                    </div>
                    <div class="pre-catarrow">
                    </div>
                </div>
            </a>
            <h1>
                <a :href="'/article/?address=' + post.enTitle">{{post.title}}</a>
            </h1>
            <div class="post-info">
            <span>
                <span class="glyphicon glyphicon-calendar"></span>
                <!--{{post.pub_time|date:"Y-m-d" }}-->
                #-- #date(post.pub_time, "yyyy-MM-dd") --#
                {{post.pub_time}}
            </span>
                <span>
                <span class="glyphicon glyphicon-comment"></span>
                {{post.comment_num}}
            </span>
                <span>
                <span class="glyphicon glyphicon-eye-open"></span>
                {{post.view_times}}
            </span>
                <div class="post-tags">
                    <a v-for="(tag, num) in post.get_tags" :href="'/tag/?tag=' + tag" :class="{ 'hidden-xs' : post.showTag}" >
                        <span :class="'label label-vmaig-' + num + ' btn'">{{tag}}</span>
                    </a>
                    <a class="visible-xs-inline-block">
                        <span class="label label-vmaig-2 btn ">...</span>
                    </a>

                </div>

            </div>
        </div>
        <div class="post-content">
            <div class="row">
                <div class="col-sm-4">
                    <figure class="thumbnail">
                        <a :href="'/article/?address=' + post.enTitle">
                            <img :src="post.img" height="300" alt="">
                        </a>
                    </figure>
                </div>
                <div class="col-sm-8">
                    <p>{{post.summary | trimText}}</p>
                    <a type="button" class="btn btn-vmaig pull-right hidden-xs"
                       :href="'/article/?address=' + post.enTitle">阅读全文</a>

                </div>
            </div>
        </div>
    </div>
</div>